<div class="col-12 text-center mt-3">
    <h2>Profile</h2>
</div>

{{#if no_budget}}
<form class="add-budget d-flex col-6">
    <div class="form-group">
        <label for="addBudget"> Your Budget:</label>
        <input class="form-input col-6" type="text" id="addBudget" />
        <button type="button" class="btn btn-primary" id="submit"> Add Budget </button>
    </div>
</form>
{{/if}}

<div class="container">
    <div class="row">
        <div class="profile-budget text-center">
            <p>Your Monthly Budget: ${{budget.budget_limit}}</p>
        </div>
    </div>
    <div class="row">
        <div class="profile-cost text-center">
            <p>Amount Spent on <b>{{monthName}} {{year}}</b>: ${{total}}</p>
        </div>
    </div>


<div class="profile-cost-option-card">
    <form class="profile-cost-month">
        <label>Select another month to view spendings:</label>
        <div class="row">
            <select class="form-control" name="cost-months" id="cost-months">
                <option value="01">January</option>
                <option value="02">February</option>
                <option value="03">March</option>
                <option value="04">April</option>
                <option value="05">May</option>
                <option value="06">June</option>
                <option value="07">July</option>
                <option value="08">August</option>
                <option value="09">September</option>
                <option value="10">October</option>
                <option value="11">November</option>
                <option value="12">December</option>
            </select>
            <button class="btn btn-primary" type="submit">Submit</button>
        </div>
    </form>
</div>


{{#if month_view}}
<div class="row">
    {{#if selectedItems}}
    {{#each selectedItems as |cost|}}
    <div class="col-3 card m-5 pl-3 pt-3">
        <p>Bill Name: {{cost.name}}</p>
        <p>Amount: ${{cost.amount}}</p>
        <p>Due Date: {{cost.due_date}}</p>
    </div>
    {{/each}}
    {{else}}
    <p>No items this month</p>
    {{/if}}
</div>
{{/if}}

<div class="profile-cost">
    <p>Amount Spent in {{year}}: ${{yrtotal}}</p>
</div>

<div class="profile-year">
    <button class="btn btn-primary" id="year-btn">View All Spendings This Year</button>
    <button class="btn btn-primary" id="prev-year-btn">View All Spending From Previous Year</button>
</div>

{{#if year_view}}
{{#if yearItems}}
{{#each yearItems as |item|}}
<div class="card m-5 pl-3 pt-3">
    <p>{{item.name}}</p>
    <p>{{item.amount}}</p>
    <p>{{item.due_date}}</p>
</div>
{{/each}}
{{else}}
<p>No items this year</p>
{{/if}}
{{/if}}
</div>

<script src="/js/profile.js"></script>

{{!-- Upcoming bills/spendings --}}