<div class="container">
    <div class="col-12 text-center mt-3">
        <h2>Profile</h2>
    </div>
    {{#if no_budget}}
    <form class="add-budget row">
        <div class="form-group text-center">
            <label for="addBudget"> Add a Budget To Be Able to View Budget Page:</label>
            <input class="form-input" type="text" id="addBudget" />
            <button type="button" class="btn btn-primary" id="submit"> Add Budget </button>
        </div>
    </form>
    {{/if}}

    <div class="row mt-4">
        <div class="profile-budget text-center">
            <p>Your Monthly Budget: ${{budget.budget_limit}}</p>
        </div>
    </div>
    <div class="row">
        <div class="profile-cost text-center">
            <p>Amount Spent on <b>{{monthName}} {{year}}</b>: ${{total}}</p>
        </div>
    </div>


    <div class="profile-cost-option-card row mt-4">
        <form class="profile-cost-month text-center">
            <label>Select another month to view spendings:</label>
            <select class="form-control" name="cost-months" id="cost-months">
                <option value="01">January</option>
                <option value="02">February</option>
                <option value="03">March</option>
                <option value="04">April</option>
                <option value="05">May</option>
                <option value="06">June</option>
                <option value="07">July</option>
                <option value="08">August</option>
                <option value="09">September</option>
                <option value="10">October</option>
                <option value="11">November</option>
                <option value="12">December</option>
            </select>
            <button class="btn btn-primary mt-2" type="submit">Submit</button>
        </form>
    </div>


    {{#if month_view}}
    <div class="row">
        {{#if selectedItems}}
        <p class="text-center mt-2">Items in {{monthName}} {{year}}</p>
        {{#each selectedItems as |cost|}}
        <div class="col-3 card ml-5 p-3">
            <p>Bill Name: {{cost.name}}</p>
            <p>Amount: ${{cost.amount}}</p>
            <p>Due Date: {{cost.due_date}}</p>
        </div>
        {{/each}}
        {{else}}
        <p class="text-center mt-3">No items in {{monthName}} {{year}}</p>
        {{/if}}
    </div>
    {{/if}}

    <div class="profile-cost row text-center mt-5">
        <p>Amount Spent in <b>{{year}}</b>: ${{yrtotal}}</p>
    </div>

    <div class="profile-year text-center">
        <button class="btn btn-primary" id="year-btn">View All Spendings This Year</button>
        <button class="btn btn-primary" id="prev-year-btn">View All Spending From Previous Year</button>
    </div>

    {{#if year_view}}
    <div class="row">
        {{#if yearItems}}
        <p class="text-center mt-2">All items in {{year}}</p>
        {{#each yearItems as |item|}}
        <div class="col-3 card ml-5 p-3">
            <p>Bill Name: {{item.name}}</p>
            <p>Amount: ${{item.amount}}</p>
            <p>Due Date: {{item.due_date}}</p>
        </div>
        {{/each}}
        {{else}}
        <p class="text-center mt-3">No items this year</p>
        {{/if}}
    </div>
    {{/if}}
</div>

<script src="/js/profile.js"></script>

{{!-- Upcoming bills/spendings --}}